/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

@media screen and (min-width: 1440px) {
    .menu{
        display: flex;
        justify-content: space-between;
        height: 90px;
        padding-top: 30px;
        padding-right: 80px;
        margin-bottom: 50px;
    }
    .menu__header{
        display: flex;
        padding: 30px 30px 30px 120px;
        gap: 10px;
    }
    .menu__list{
        display: flex;
        padding: 30px 0px 30px 30px;
        gap: 30px;
    }
    .menu__list__item__contato{
        display: none;
    }
    
    /*Sección Title*/
    .title{
        padding: 30px 70px 30px 30px;
    }
    .title__div{
        display: flex;
        flex-direction: row-reverse;
        padding-right: 30px;
    }
    .title__profile{
        width: 200px;
        height: 230px;
        border-radius: 50%;
    }
    .title__container{
        width: 80%;
        margin-bottom: 50px;
    }
    h2{
        font-size: 2.8em;
        position: relative;
        font-weight: bold;
        left: 40px;
    }
    .title__subsection{
        display: flex;
        position: relative;
        width: 70%;
        left: 40px;
        font-weight: 10;
    }
    .title__network{
        display: flex;
        gap: 30px;
    }
    
    
    
    /*Sección About*/
    
    .about{
        background-color: #EAF2FD;
        padding: 64px;
        display: flex;
        align-items: center;
        padding-left: 100px;
        margin-bottom: 50px;
    }
    .about__container{
        font-size: 20px;
        font-weight: normal;
        width: 80%;
    }
    
    /*Sección Skills*/
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .skills__title{
        font-size: 40px;
    }
    .skills__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 80px;
    }
    
    .skills__box{
        background-color: white;
        align-content: end;
        width: 220px;
        height: 200px;
        border-radius: 10px;
    }
    
    /*Sección Hobbies*/
    
    .hobbies{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;    
    }
    .hobbies__title{
        font-size: 40px;
    }
    .hobbies__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
    }
    .hobbies__box{
        background-color: white;
        align-content: end;
        width: 220px;
        height: 200px;
    }
    /* Experiencia Académica*/
    
    .academic{
        background-color: #EAF2FD;
        margin-bottom: 50px;
        padding-bottom: 70px;
    }
    .academic__title{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .academic__courses{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5px;
    }
    .academic__courses__box{
        height: 300px;
        width: 300px;
    }
    .academic__courses__item__img{
        height: 100px;
        display: flex;
        justify-content: center;
        background-color: white;
    }
    
    /* experiencia*/
    .experience{
        
    }
    .experience__section__title{
        justify-content: center;
        padding-top: 30px;
        display: flex;
    }
    .experience__img{
        width: 752px;
        height: 406px;
        padding-left: 20px;
    }
    .experience__info{
        font-weight: bold;
        font-size: 22px;
    }
    .experience__text{
        font-weight: normal;
        font-size: 16px;
    }
    .experiencia__botao--repo{
        background-color: #007bff;
        width: 105px;
        height: 51px;
        border-color: #007bff;
        border-radius: 10px;
        color: white;
    }
    .experience__botao--demo{
        background-color: #007bff;
        width: 105px;
        height: 51px;
        border-radius: 10px;
        color: white;
        border-color: #007bff;
    }
    .experiencie__box{
        display: flex;
        gap: 50px;
        align-items: center;
        padding-bottom: 60px;
        padding-left: 60px;
    }
    
    .experiencie__box1{
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        align-items: center;
        padding-right: 80px;
        padding-bottom: 60px;
    }
    
    .experience__box2{
        display: flex;
        gap: 50px;
        align-items: center;
        padding-right: 80px;
    }
    
    
    
    
    /*Contacto*/
    
    .formcontato{
        padding-top: 40px;
        background: #EAF2FD;
        padding-bottom: 50px;
    }
    .formcontato__contacto{
        display: flex;  
    }
    .formcontato__img{
        height: 550px;
        padding-left: 20px;
    }
    .formcontato__text{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-left: 10px;
    }
    .formcontato__title{
        font-size: 30px;
        position: static;
    }
    .formcontato__subtext{
        font-weight: normal;
        size: 16px;
        
    }
    .formcontato__form{
        display: flex;
        flex-direction: column;
        gap: 10px;   
    }
    .formcontato__input{
        height: 35px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 16px;
    }
    .formcontato__botao{
        padding: 12px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    /*footeer*/
    
    .footer__rodape{
        display: flex;
        align-items: center;
        flex-direction: column;
       background-color: white;
       padding-top: 10px;
    }
}


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1100px){

    /* Menú */
    .menu{
    display: flex;
    padding: 30px 30px 30px 30px;
    gap: 10px;
    justify-content: space-between;
    }
    .menu__header{
        display: flex;
        height: 20px;
        padding-top: 10px;
    }
    .menu__list{
        display: none;
    }
    .menu__list__item__contato{
        padding-top: 20px;
    }

    /*title*/
    .title__div{
        flex-direction: row-reverse;
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 32px;
        gap: 32px;
    }
    .title__profile{
        width: 150px;
        height: 170px;
        border-radius: 100px;
    }
    .title__subsection{
        font-size: 16px;
        font-weight: initial;
    }
    .title__network{
        display: flex;
        gap: 15px;
    }

    /*Menú */  /*PRUEBA*/
    .about{
        padding: 32px;
        background: #EAF2FD;
        padding-bottom: 20px;
    }

    /*Skills*/
    .skills{
        padding: 32px;
        padding-bottom: 20px;
    }
    .skills__title{ 
        display: flex;
        justify-content: center;
        font-family: Raleway;
        font-size: 22px;
        font-weight: 700;
    }
    .skills__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .skills__box{
        align-content: end;
        width: 224px;
        height: 118px;
        background-color: white;
    }

    /*Hobbies*/
    .hobbies{
        padding: 32px;
        padding-bottom: 20px;
    }
    .hobbies__title{
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: 700;
    }
    .hobbies__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .hobbies__box{
        align-content: end;
        width: 224px;
        height: 118px;
        background-color: white;
    }
    /*Formación Académica*/
    .academic{
        padding: 32px;
        padding-bottom: 20px;
        background: #EAF2FD;

    }
    .academic__title{
        display: flex;
        justify-content: center;
        font-size: 22px;    
        font-weight: 700;
    }
    .academic__courses{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*Experiencia Profesional*/
    .experience{
        padding: 32px;  
        padding-bottom: 20px;
    }
    .experience__section__title{
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: 700;
    }
    .experiencie__box{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .experiencia__botao--repo{
        background-color: #007bff;
        width: 105px;
        height: 51px;
        border-color: #007bff;
        border-radius: 10px;
        color: white;
    }
    .experience__botao--demo{
        background-color: #007bff;
        width: 105px;
        height: 51px;
        border-radius: 10px;
        color: white;
        border-color: #007bff;
    }
    .experiencie__box1{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .experience__box2{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /*CONTACTO*/
    .formcontato{
        padding: 20px;
        background: #EAF2FD;
    }
    .formcontato--esquerda{
        display: none;
    }
    .formcontato__contacto{
        display: flex;
    }
    .formcontato__text{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .formcontato__subtext{ 
        font-size: 16px;
        font-weight: normal;
    }
    .formcontato__form{
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 275px;
        gap: 8px;
    }
    .formcontato__input{
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    .formcontato__botao{
        background: #2A7AE4;
        width: 133px;
        height: 40pxpx;
        padding: 12px 16px 12px 16px;
        gap: 10px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    /*FOOTER*/
    .footer{
        background-color: white;
        padding-top: 25PX;
        padding-bottom: 25px;
    }
    .footer__rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*Mobile*/
@media screen and (max-width: 767px) {

/*Menu*/
.menu{
    display: flex;
    padding: 20px;
}
.menu__header{
    display: flex;
    align-items: center;
    size: 1px;
}
.menu__list{
    display: none;
}
.menu__list__item__contato{
    padding-top: 20px;
    size: 10px;
}
/*Titulo*/
.title{
    display: flex;
    height: 294px;
    width: 328px;
    padding: 0px 20px 0px 20px;
    padding-bottom: 10px;
}
.title__profile{
    width: 98px;
    height: 98px;
    border-radius: 50px;
}
.title__subsection{
    font-size: 14px;
    font-weight: initial;
    line-height: 16.44px;
}
.title__network{
    display: flex;
    gap: 15px;
    font-size: 14px;
}
/*Sección sobre mi*/
.about{
    background: #EAF2FD;
    padding: 20px;
}
.about__paragraph{
    font-size: 16px;
}
/*Skills*/
.skills{
    padding-bottom: 20px;
}
.skills__title{
    display: flex;
    justify-content: center;
    font-size: 32px;
}
.skills__line{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-around
}
.skills__box{
    background-color: white;
    align-content: end;
    width: 156px;
    height: 118px;
}

/*Hobbies*/
.hobbies{
    padding: 20px;
}
.hobbies__title{
    display: flex;
    justify-content: center;
    font-size: 32px;
}
.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    width: 100%;
    justify-content: space-around;
}
.hobbies__box{
    background-color: white;
    align-content: end;
    width: 156px;   
    height: 118px;
}
 
/*Formación Académica*/
.academic{
    padding: 20px;
    background: #EAF2FD;
}
.academic__title{
    display: flex;
    justify-content: center;
    font-size: 32px;
}
.academic__courses__box{
    width: 100%;
    height: 216px;
}
.academic__courses__item__img{
    display: flex;
    justify-content: center;
    background-color: white;
}
.academic__courses__list{
    padding: 1px;
}

/*Experiencia Profesional*/
.experience__section__title{
    display: flex;
    justify-content: center;
    font-size: 32px;
}
.experiencie__box{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.experience__info{
    font-weight: bold;
    font-size: 22px;
    padding-top: 20px;
}
.experience__text{
    font-weight: normal;
    font-size: 16px;
}
.experiencia__botao--repo{
    background-color: #007bff;
    width: 105px;
    height: 51px;
    border-color: #007bff;
    border-radius: 10px;
    color: white;
}
.experience__botao--demo{
    background-color: #007bff;
    width: 105px;
    height: 51px;
    border-radius: 10px;
    color: white;
    border-color: #007bff;
}
.experiencie__box1{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.experience__box2{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

 /*Contacto*/
.formcontato{
    background: #EAF2FD;
    padding: 20px;
}
 .formcontato--esquerda{
    display: none;
 }
 .formcontato__subtext{
    font-size: 16px;
    font-weight: normal;
 }
 .formcontato__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
 }
 .formcontato__input{
    display: flex;
    width: 100%;
    height: 30px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
 }
 .formcontato__textarea{
    display: flex;
    width: 100%;
    height: 70px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
 }
 .formcontato__botao{
    background: #2A7AE4;
    width: 133px;
    height: 40px;   
    padding: 12px, 16px, 12px, 16px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
    text-align: left;
    color: white;
 }
 

/*Footer*/
.footer{
    background-color: white;
    padding-top: 20PX;  
    padding-bottom: 20px;
}
.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
}



}